namespace: dev

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi

image:
  repository: borispopicdev/orvix-gateway
  tag: 1.0.5

# kubectl label nodes wn1 gateway-label=labeled
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: gateway-label
              operator: In
              values:
                - labeled

ingress:
  enabled: true
  className: traefik
  annotations: {}
  hosts:
    - host: gateway.dev.k8s-svc.homelab
      paths:
        - path: /
          pathType: Prefix

config:
  data:
    server.port: "8080"
    spring.application.name: "gateway - dev"
    management.endpoints.web.exposure.include: "health,info,refresh"
    management.info.env.enabled: "true"
    info.app.name: "Orvix Gateway (dev) - from Config Map"
    info.app.version: "1.0.0-ConfigMap"
    info.app.description: "Orvix Gateway (dev) microservice's description is from the Config Map"

spring:
  profiles:
    active: dev