namespace: dev

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi

# kubectl label nodes wn1 gateway-label=labeled
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: gateway-label
              operator: In
              values:
                - labeled

volumeMounts:
  - name: gateway-volume
    mountPath: /etc/config

volumes:
  - name: gateway-volume
    configMap:
      name: gateway-configmap
      items:
        - key: application.properties
          path: application.properties

config:
  applicationProperties: |
    server.port=8080
    spring.application.name=gateway
    management.endpoints.web.exposure.include=health,info
    management.info.env.enabled=true
    info.app.name=Orvix Gateway
    info.app.version=1.0.0
    info.app.description=Orvix Gateway microservice
    spring.cloud.kubernetes.config.enabled=true
    spring.cloud.kubernetes.config.name=gateway
    spring.cloud.kubernetes.discovery=true

spring:
  profiles:
    active: dev