keycloak:
  replicas: 1

postgresql:
  enabled: false

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start-dev"

extraEnv: |
  # Ensure extraEnv is also at the top level
  - name: KEYCLOAK_ADMIN
    valueFrom:
      secretKeyRef:
        name: keycloak-ss-dev
        key: KEYCLOAK_ADMIN
  - name: KEYCLOAK_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak-ss-dev
        key: KEYCLOAK_ADMIN_PASSWORD
  - name: KC_FEATURES
    value: preview
  - name: KC_HOSTNAME_PORT
    value: ""

hostname:
  url: "http://keycloak-dev-keycloakx-http.dev.svc.cluster.local"
  adminUrl: "http://keycloak-dev-keycloakx-http.dev.svc.cluster.local"
  frontendUrl: "http://keycloak-dev-keycloakx-http.dev.svc.cluster.local"


ingress:
  enabled: true
  className: traefik
  hosts:
    - host: keycloak-dev-keycloakx-http.dev.svc.cluster.local
      paths:
        - path: /
          pathType: Prefix