apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  namespace: {{ .Values.namespace }}
data:
  application.properties: |
  {{ .Values.config.applicationProperties | nindent 4 }}